#all_orders {
	width: 70%;
	float: left;
}

#active_carts {
	float: right;
	width: 28%;
}

table.items {
	padding-bottom: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

table .number { float: right; }

.edit-order {
	clear: both;
	float: right;
	margin-bottom: 20px;
}

.container-1of2 {
	width: 45%;
	margin-right: 4%;
	float: left;
	border-right: 1px dotted #ccc;
	margin-bottom: 30px;
	clear: both;
}

.container-2of2 {
	width: 49%;
	float: left;
}

.container-1of3 {
	width: 30%;
	margin-right: 3%;
	float: left;
	border-right: 1px dotted #ccc;
	margin-bottom: 30px;
	clear: both;
}

.container-2of3 {
	width: 30%;
	margin-right: 3%;
	float: left;
	border-right: 1px dotted #ccc;
	margin-bottom: 30px;
}

.container-3of3 {
	width: 30%;
	float: left;
	margin-bottom: 30px;
}

#status_container {
	clear: both;
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

#content {
	overflow: auto; /* Clearfix */
}
